# Telegram Bot Token (получить у @BotFather)
TELEGRAM_TOKEN=8679627846:AAG7_RE0TEMnnkMlPcFZ3BgxTaWGNxeGhEo

# OpenRouter API Key (получить на https://openrouter.ai/keys)
OPENROUTER_API_KEY=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
